@model Cesta;
@using CestaDeCompra.Data

@section Css {
    <link rel="stylesheet" href="~/css/cesta.css" />
}

<h1>Cesta de compras</h1>

<div class="cesta">
@{
    ViewData["Title"] = "Carrito";


    ProductoRepo productoRepo = new();
    double valorTCesta = 0;

    foreach(KeyValuePair<string, int> cnt in Model.GetCesta())
    {
        Producto p = productoRepo.GetProducto(cnt.Key);

        double valorTProd = p.Precio * cnt.Value;
        valorTCesta += valorTProd;

        if(cnt.Value > 0)
        {
            <div class="cesta-producto">
                <img class="cesta-producto-img" src="/Img/@p.ImgNom" />
                <div class="cesta-info">
                    <p class="cesta-producto-cod">@p.Codigo</p>
                    <p class="cesta-producto-name">@p.Nombre</p>
                    <p class="cesta-producto-price euro">Precio unidad: @p.Precio €</p>
                    <p class="cesta-producto-total euro">@Math.Round(valorTProd, 2) €</p>
                    <form asp-controller="Producto" asp-action="Actualizar" method="get">
                        Cantidad: 
                        <input type="hidden" name="producCode" value="@p.Codigo" />
                        <input type="number" min="0" name="nuevaCantidad" value="@cnt.Value" />
                        <input type="submit" name="update" value="" />
                    </form>
                </div>
            </div>
        }
    }
        <p class="cesta-total">Total: @Math.Round(valorTCesta,2) €</p>

}
    <div class="buttons">
        <button class="btn-seguir"><a asp-controller="Producto" asp-action="Index">Seguir comprando</a></button>
        @if (Model.GetProductosTotales() != 0)
        {
            <button class="btn-compra"><a asp-controller="Producto" asp-action="Compra">Finalizar Compra</a></button>
        }

    </div>
</div>
