@model Cesta;
@using CestaDeCompra.Data
@using CestaDeCompra.Repository

@section Css {
        <link rel="stylesheet" href="~/css/compra.css" />
}


<div class="cesta">
   
    <table>
        <caption>Factura</caption>
        <tr>
            <th>Producto</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Total producto</th>
        </tr>
@{

    ViewData["Title"] = "Factura";

    ProductoRepository productoRepo = new();
    double valorTCesta = 0;
    
    foreach (KeyValuePair<string, int> cnt in Model.GetCesta())
    {
        Producto p = productoRepo.GetProducto(cnt.Key);

        double valorTProd = p.Precio * cnt.Value;
        valorTCesta += valorTProd;

        if (cnt.Value > 0)
        { 
            <tr class="cesta-info">
                <td class="cesta-producto-name">@p.Nombre</td>
                <td class="cesta-producto-price euro">@p.Precio €</td>
                <td class="cesta-producto-price euro">@cnt.Value</td>
                <td class="cesta-producto-total euro">@Math.Round(valorTProd, 2) €</td>
            </tr>
        }
    }
}
    </table>
    <p class="cesta-total toto">Total: @Math.Round(valorTCesta, 2)</p>

    <div class="buttons">
        <input type="button" class="btn-imprimir none" name="imprimir" value="Imprimir" onclick="window.print();">
    </div>
</div>