@model Dictionary<string, int>
@using CestaDeCompra.Data

@section Css {
    <link rel="stylesheet" href="~/css/compra.css" />
}

<h1>Factura</h1>

<div class="cesta">
@{

    ViewData["Title"] = "Factura";

    ProductoRepo productoRepo = new();
    double valorTCesta = 0;
    
    foreach (KeyValuePair<string, int> cnt in Model)
    {
        Producto p = productoRepo.GetProducto(cnt.Key);

        double valorTProd = p.Precio * cnt.Value;
        valorTCesta += valorTProd;

        if (cnt.Value > 0)
        {
            <div class="cesta-producto">
                <img class="cesta-producto-img" src="/Img/@p.ImgNom" />
                <div class="cesta-info">
                    <p class="cesta-producto-name">@p.Nombre</p>
                    <p class="cesta-producto-price euro">@p.Precio €   x    @cnt.Value</p>
                    <p class="cesta-producto-total euro">@Math.Round(valorTProd, 2) €</p>
                </div>
            </div>
        }
    }
    
}
    <p class="cesta-total toto">Total: @Math.Round(valorTCesta, 2)</p>

    <div class="buttons">
        <input type="button" class="btn-imprimir none" name="imprimir" value="Imprimir" onclick="window.print();">
    </div>
</div>